{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["**/reducers/*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
